<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ahbeh || Akerha</title>
</head>
<body>
    <header style="border-bottom: 5px solid black;">
        <h1>Ahbeh || Akerha</h1>
    </header>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/ahbeh/animals">Favorite Animals</a></li>
        <li><a href="/ahbeh/foods">Favorite Foods</a></li>
        <li><a href="/akerha/movies">Least Favorite Movies</a></li>
        <li><a href="/akerha/products">Least Favorite Products</a></li>
    </ul>
    <%- body %>

</body>
</html>